#wrapper {
    width: 500px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 100px;
  }
  .insta{
    width: 250px;
    height: 60%;
    border: 2px solid #e6e6e6;
    margin: 10px auto;
    padding: 40px 50px;
    background-color: #fff;

  }
  .header {
    border: 0px solid #000;
    margin-bottom: 5px;
  }
  .input-1{
      padding:9px 20px;
      border-radius: 3px;
      
     
  }
  .input-2{
      padding:9px 20px;
      border-radius: 3px;
  }
  .btn{
      padding: 5px 80px;
      color: #fff;
      background-color: #3897f0;
    border: 1px solid #3897f0;
    font-weight: bold;
  cursor: pointer;
  border-radius: 3px;

  }
.pass-color{
    color: black;
    cursor: pointer;
    text-align: center;
    padding:0px 50px
}
.facebook-login{
    color:#385185;
    padding:0px 35px;
}
#wrapper2{
    
        width: 250px;
        height: 40%;
        margin: 10px auto;
        border: 1px solid #e6e6e6;
        padding: 20px 50px;
        background-color: #fff;
      
}
.s-part {
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    word-spacing: -3px;
    letter-spacing: -2px;
    font-weight: normal;
  }
  

  



  

